<template name="navbarHeader">
  <div id="navbarHeader">
    <nav id="navbarHeaderNav" class="navbar navbar-fixed-top navbar-default">
      <a id="navbarTitle" class="clickable unselectable navbar-brand">Payments - Subscription</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://github.com/awatson1978/payment-subscription"><i class="fa fa-github"></i>  Get the code.</a></li>
      </ul>
    </nav>
  </div>
</template>

<template name="navbarFooter">
  <div id="navbarFooter">
    <nav id="navbarFooterNav" class="navbar navbar-fixed-bottom navbar-default">

    </nav>
  </div>
</template>
