<template name="navbarHeaderTemplate">
  <nav id="navBarHeader" class="navbar navbar-fixed-top navbar-default">
    <a id="navBarTitle" class="clickable unselectable navbar-brand">Payments - Subscription</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://github.com/awatson1978/payment-subscription"><i class="fa fa-github"></i>  Get the code.</a></li>
    </ul>
  </nav>
</template>

<template name="navbarFooterTemplate">
  <nav id="navBarHeader" class="navbar navbar-fixed-bottom navbar-default">
  </nav>
</template>
