<template name="crowdSourcingPage">
    <div id="crowdSourcingPage" class="page">
        <div class="container">
            {{> crowdSourcingForm }}
            {{!> chargeHistory }}
        </div>
    </div>
</template>


<template name="crowdSourcingForm">

    <!--<ul class="centered nav nav-tabs">-->
        <!--<li class="{{ isIntroStepActive }}"><a class="donation-step-intro" href="#donation-workflow-intro">Why Crowdsourcing?</a></li>-->
        <!--<li class="{{ isRecipientStepActive }}"><a class="transparent donation-step-recipient" href="#donation-workflow-recipient">Recipient</a></li>-->
        <!--<li class="{{ isAmountStepActive }}"><a class="donation-step-amount" href="#donation-workflow-amount">Donation Level</a></li>-->
        <!--<li class="{{ isFrequencyStepActive }}"><a class="donation-step-frequency" href="#donation-workflow-frequency">Frequency</a></li>-->
        <!--<li class="{{ isReceiptStepActive }}"><a class="donation-step-receipt" href="#donation-workflow-receipt">Email Receipt</a></li>-->
        <!--<li class="{{ isCardStepActive }}"><a class="donation-step-card" href="#donation-workflow-card">Credit Card Details</a></li>-->
        <!--<li class="{{ isThankYouStepActive }}"><a class="donation-step-thankyou" href="#donation-workflow-thankyou">Thank You</a></li>-->
    <!--</ul>-->
    <!--<div class="spacer row"></div>-->



    <!--<hr>-->
    <!--<div id="donation-workflow-step-intro" class='row'>-->
        <!--<div class="justified col col-lg-6">-->
                <!--<h3>Why Crowd Sourcing?</h3>-->
                <!--<p>Simply put, because we want to avoid going to Venture Capitalists if at all possible.  Venture Capital is nothing more than a high-interest loan which eventually has to be paid back.  And with that loan come people who are only concerned about profit and their return on investment.  We want to make sure we don't sell the soul of this product in exchange for profit.</p>-->
                <!--<p>That's not to say that we won't charge fees for certain services.  Hosting websites costs money.  Servers need electricity and air conditioning to run.  It would be nice to be able to pay the developers a living wage.  Maybe even have some health insurance.</p>-->
                <!--<p>But what we don't want to do is borrow a million or ten million dollars from a Venture Capitalist (somebody who already has plenty of money, and is simply seeking to make more) and then be obligated to double or triple (or more) their investment.   We don't want to be obligated to produce a Return On Investment to institutional investors.</p>-->
                <!--<p>Because if we can avoid taking venture capital, that means we can charge less, keep the application open-source, and get the profit motive out of the development of this application.  It lets us focus and advocate for social justice causes if we wish.</p>-->
                <!--<p>We want clients and donations, not investments loans and debt.  That's why we're trying to crowdsouce development.</p>-->
            <!--</div>-->
        <!--<div class="centered col col-lg-6">-->
            <!--<div class="spacer row"></div>-->
            <!--<div class="spacer row"></div>-->
            <!--<img src="images/crowdsourcedMuseumVA.jpeg">-->
        <!--</div>-->
    <!--</div>-->

    <hr>
    <div id="donation-workflow-step-frequency" class='row'>
        <div class="col col-lg-6">
            <h3>Subscription Level</h3>
            <p>Odds are that you just want to make a one-time donation.  But we appreciate continuing donations also, and donations spread out over a series of payment.  In fact, that acutally helps us avoid spikes and valleys in our cash flow, and helps our business be more stable.  So, we're happy to accept monthly donations of $20 instead of a one-time donation of $100.</p>
            <p></p>
        </div>
        <div class="col col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Subscription Level
                </div>
                <ul class="list-group">
                    <li id="donation-level-bronze" class="list-group-item">
                        <h4 class="list-group-item-heading">Bronze Level</h4>
                        <span class="gray">
                        $10 / month
                        </span>
                    </li>
                    <li id="donation-level-silver" class="list-group-item">
                        <h4 class="list-group-item-heading">Silver Level</h4>
                        <span class="gray">
                        $20 / month
                        </span>
                    </li>
                    <li id="donation-level-gold" class="list-group-item">
                        <h4 class="list-group-item-heading">Gold Level</h4>
                        <span class="gray">
                        $50 / month
                        </span>
                    </li>
                    <li id="donation-level-platinum" class="list-group-item">
                        <h4 class="list-group-item-heading">Platinum Level</h4>
                        <span class="gray">
                        $100 / month
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div id="donation-workflow-step-receipt" class="row">
        <div class="row">
          <div class="justified col col-lg-6">
            <h3>Who Gets The Receipt?</h3>
            <p>We don't need your email address to process this donation.  But if you'd like a receipt, we can email you one.  Just fill out the form below.  We won't put you on an email list.  And if you'd prefer to give anonymously, just skip this step.</p>
          </div>
          <div class="centered col col-lg-6">
            <input id="receiptAddress" name="receiptAddress" type="text" class="fullwidth" placeholder="somebody@somewhere.com"></input>
          </div>
        </div>
    </div>

    <hr>
    <div id="donation-workflow-step-card" class="row">
        <form id="creditCardForm">
            <div class="row">
                <div class="justified col col-lg-6">
                  <h3>Credit Card Details</h3>
                  <p>Powered with stripe.  Simple and secure.</p>
                </div>
                <div class="col col-lg-6">
                  <h3>Monthly {{ getDonationLevel }}</h3>
                  <hr>
                  <div id="creditCardNameGroup" class="form-group">
                    <label class="control-label" for="creditCardName">Card Name</label>
                    <input id="creditCardName" name="creditCardName" type="text" placeholder="Name as it appears on your credit card." class="fullwidth"></input><br>
                  </div>
                  <div id="creditCardNumberGroup" class="form-group">
                    <label id="creditCardNumberLabel" class="control-label" for="creditCardNumber">{{ getCardNumberLabel }}</label>
                    <input id="creditCardNumber" name="creditCardNumber" data-stripe="number" type="text" placeholder="xxxx xxxx xxxx xxxx" class="fullwidth"></input><br>
                  </div>

                  <div class="unpadded row-fluid">
                    <div class="unpadded col col-lg-4">
                      <div id="creditCardMonthGroup" class="form-group">
                        <label class="control-label" for="creditCardMonth">Month</label>
                        <input id="creditCardMonth" name="creditCardMonth" data-stripe="exp-month" type="text" placeholder="mm" class="fullwidth"></input>
                      </div>
                    </div>
                    <div class="col col-lg-4 without-right-padding">
                      <div id="creditCardYearGroup" class="form-group">
                        <label class="control-label" for="creditCardYear">Year</label>
                        <input id="creditCardYear" name="creditCardYear" data-stripe="exp-year" type="text" placeholder="yyyy" class="fullwidth"></input>
                      </div>
                    </div>
                    <div class="col col-lg-4 without-right-padding">
                      <div id="creditCardSecurityGroup" class="form-group">
                        <label class="control-label" for="creditCardSecurity">Security</label>
                        <input id="creditCardSecurity" name="creditCardSecurity" data-stripe="cvc" type="text" placeholder="nnn" class="fullwidth"></input><br>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div id="detailsCancel" class="cancel-donation amount btn btn-default">Cancel</div>
                  <div id="validateDetails" class="validate-donation amount btn {{ validatedStyle }}">Validate</div>
                  {{#if isValidated}}
                  <input type="submit" class="process-donation btn btn-success" value="Process Donation!"></input>
                  {{/if}}

                  <div class="charge-error btn hidden btn-danger">Error!</div>
                  <div class="charge-success btn hidden btn-success">Success!</div>                </div>
            </div>
        <hr>
        </form>
    </div>



    <div id="donation-workflow-step-thankyou" class="{{ getThankYouStepVisibility }}">
        <h1 class="centered superlarge alexbrush">Thank You</h1>
        <hr>

        <div class="row">
            <div class="col col-lg-3">
            </div>
            <div class="col col-lg-6 col-lg-offset-3">
                <p>Your support makes this work possible. If you gave us your email address, you should be receiving a reciept in your email box shortly. </p>
            </div>
            <div class="col col-lg-3"></div>
        </div>
        <hr>
    </div>

    <div id="donation-workflow-step-error" class="{{ getErrorStepVisibility }}">
        <h1 class="centered superlarge">Bummer</h1>
        <hr>

        <div class="row">
            <div class="col col-lg-3">
            </div>
            <div class="col col-lg-6 col-lg-offset-3 centered">
                <p>Your card was declined.   :(</p>
                <p>We checked that things were spelled right, had the right format, were valid dates, etc.  So, at this point, it's probably up to you to check that your card is still active, that you have funds in that particular account, etc. etc.</p>
            </div>
            <div class="col col-lg-3"></div>
        </div>
        <hr>

    </div>


</template>

<template name="chargeHistory">
    <div id="chargehistory" class="panel panel-success">
        <div class="panel-heading">
            Charge History
        </div>
        <ul class="plain monospace">
            {{#each chargeHistory }}
                {{> chargeEntry }}
            {{/each}}
        </ul>
    </div>
</template>
<template name="chargeEntry">
    <li><ul class="horizontal">
        <li>{{ _id }}</li>
        <li>{{ CardType }}</li>
        <li>{{ CardNumber }}</li>
        <li>{{ ExpiresMonth }}</li>
        <li>{{ ExpiresYear }}</li>
        <li>{{ Security }}</li>
        <li>{{ Zip }}</li>
        <li>{{ Name }}</li>
        <li>{{ Result }}</li>
    </ul></li>
</template>


